.roomCardList {
  background-color: #e2e1e0;
  height: calc(100vh - 48px);
  overflow-y: auto;
  max-width: 640px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .roomCardList {
    height: calc(100vh - 72px);  
  }
}