.messageForm {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.messageForm > input {
  height: 100%;
  width: calc(100% - 50px);
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
}

.messageForm > .sendMessageButton {
  height: 100%;
  width: 50px;
  border: none;
  outline: none;
  background-color: #fff;
}

.messageForm > .sendMessageButton > span {
  cursor: pointer;
}

.messageForm > .sendMessageButton > span:focus {
  outline: none;
  border: none;
}
