.container {
  max-width: 1170px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". brand ." ". loginForm ." ". loginForm .";
}

.container>button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.container>#brand {
  grid-area: brand;
  text-align: center;
}

.container>#brand>h1 {
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  color: #ff4081;
}

.container>#loginForm {
  grid-area: loginForm;
}

.container>#loginForm #loginButton {
  text-align: center;
  padding-top: 20px;
}

.container>#loginForm button {
  width: 50%;
}

.container>#loginForm .error>.header {
  font-size: 15px;
}

.container>#loginForm .error p {
  font-size: 13px;
}

.modal #signupForm .error .header {
  font-size: 15px;
}

.modal #signupForm .error p {
  font-size: 13px;
}

.modal>.header>p {
  color: #ff4081;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .container>#brand>h1 {
    font-size: 70px;
  }
}